
body {
  background-color: #fcfcef;
  margin: 20px; 
}

#nav {
  background-image: url("http://www.fashionwallpaper.co.uk/media/catalog/product/cache/1/image/475x/040ec09b1e35df139433887a97daa66f/_/_/__auto_tile_13197__123401full.jpg");
  text-align: center; 
  font-weight: bold;
  line-height: 100%;
}

#nav img {
  width: 9%;
}

#nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav li{
  font-family: 'Rouge Script', cursive;
  font-size: 50px;
  text-shadow: 3px 3px #9b9a99;
}

nav {
  line-height: 29px;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #999;
  font-size: 19px;
}
a:hover {
    text-decoration: underline;
}

#images {
  text-align: center;
  margin-top: 14px;
}

#images img {
  width: 36%;
  margin: auto;
  display: block;
  display: inline;
  position: relative;
  height: 280px;
}

#before, #next {
  background-color: #b1aec4;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  margin: 7px;
}

footer {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 5px;
}
.recents h2{
  font-size: 40px;
  text-align: center;
  font-family: 'Rouge Script', cursive;
}
#first, #second, #third {
  background-color: #cec2c0;
  border: 1px dashed black;
}

#welcome {
  font-size: 17px;
}






#musicbooks {
  text-align: center;
  font-size: 22px;
  font-family: 'Courgette', cursive;
}

#discoball {
  text-align: center;
}

#discoball img {
  width: 18%;
}

#wavegif {
  text-align: center;
}
 
#wavegif img{
  width: 99%;
  height: 170px;
}
#spotify {
  text-align: center;
}

.music h3, .movies h3, .tvshows h3 {
  /*font-family: 'Tangerine', cursive; */
  font-family: 'Arima Madurai', cursive;
  font-size: 30px;
  text-align: center;
}
.music, .movies, .tvshows {
  font-family: 'Arima Madurai', cursive;
}

.music h4, .movies h4, .tvshows h4{
  font-size: 18px;
  font-style: italic;
}
